body {
  font-family: 'Droid Serif', serif;
}
.main-page-content {
  letter-spacing: 0.4px;
  line-height: 1.6em;
  margin: 70px auto;
}
.disp_front .main-page-content {
  font-size: 16px;
}
@media (min-width: 992px) {
  .right-padding {
    padding-right: 25px;
  }
  .left-padding {
    padding-right: 25px;
  }
}
.alert .close {
  top: 2px;
}
.transition-0.1s {
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.sitewide_header {
  margin-bottom: 0px !important;
  box-shadow: none !important;
}
.evo_container__header {
  margin-bottom: 20px;
}
.navbar {
  min-height: 55px;
  margin-bottom: 0px;
  border-top: none !important;
}
.navbar .navbar-collapse {
  padding: 0;
}
.navbar-nav.evo_container__menu {
  width: 100%;
}
.navbar-nav.evo_container__menu li {
  margin-top: 17px;
  list-style-type: none;
}
.navbar-nav.evo_container__menu li a {
  margin: 0 15px;
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -0.15px;
  font-size: 14px;
}
.navbar-nav.evo_container__menu li.active a.selected {
  text-decoration: underline;
}
.navbar-nav.evo_container__menu .ufld_icon_links {
  height: 54px;
  float: right;
}
.navbar-nav.evo_container__menu .ufld_icon_links a {
  height: 54px;
  width: 54px;
  border-radius: 0;
  margin: 0;
}
.navbar-nav.evo_container__menu .ufld_icon_links a span {
  font-size: 18px;
  line-height: 54px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.navbar-nav.evo_container__menu .ufld_icon_links a.ufld_twitter:hover {
  background-color: #00aced !important;
  color: #fff;
}
.navbar-nav.evo_container__menu .ufld_icon_links a.ufld_facebook:hover {
  background-color: #3b5998 !important;
  color: #fff;
}
.navbar-nav.evo_container__menu .ufld_icon_links a.ufld_googleplus:hover {
  background-color: #dd4b39 !important;
  color: #fff;
}
.navbar-nav.evo_container__menu .ufld_icon_links a.ufld_linkedin:hover {
  background-color: #007bb6 !important;
  color: #fff;
}
.navbar-nav.evo_container__menu .ufld_icon_links a.ufld_github:hover {
  background-color: #333333 !important;
  color: #fff;
}
.navbar-nav.evo_container__menu .header-search-toggle {
  float: right;
}
.navbar-nav.evo_container__menu .header-search-toggle i {
  padding: 20px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.navbar-nav.evo_container__menu .header-search-toggle i:hover {
  cursor: pointer;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
.header-main-search-field {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.header-main-search-field .search_field {
  height: 100%;
  font-size: 46px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  /* firefox 19+ */
  /* ie */
}
.header-main-search-field .search_field::-webkit-input-placeholder {
  color: #eee;
}
.header-main-search-field .search_field::-moz-placeholder {
  color: #eee;
}
.header-main-search-field .search_field:-ms-input-placeholder {
  color: #eee;
}
.header-main-search-field .search_field input:-moz-placeholder {
  color: #eee;
}
.front-page-extra-section {
  font-size: 26px;
  line-height: 1.6em;
  text-align: center;
  margin: 25px auto 70px;
}
.front-page-extra-section .extra-section-btn-wrapper {
  margin-top: 50px;
}
.front-page-extra-section .extra-section-btn-wrapper a {
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 25px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.front-page-extra-section .extra-section-btn-wrapper a:hover {
  text-decoration: none;
}
@media (min-width: 992px) {
  .navbar-nav.evo_container__menu .ufld_icon_links a {
    background-color: transparent;
  }
}
@media (max-width: 992px) {
  .navbar-nav.evo_container__menu .ufld_icon_links {
    width: 54px;
  }
  .navbar-nav.evo_container__menu .ufld_icon_links:before {
    font-family: FontAwesome;
    display: inline-block;
    content: '\f1e0';
    font-size: 18px;
    height: 54px;
    width: 54px !important;
    line-height: 54px;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  .navbar-nav.evo_container__menu .ufld_icon_links:hover:before {
    cursor: pointer;
    color: #fff;
  }
  .navbar-nav.evo_container__menu .ufld_icon_links a {
    display: none;
    z-index: 1009;
  }
  .navbar-nav.evo_container__menu .ufld_icon_links a.drop-down-social {
    display: block;
    width: 55px;
  }
}
.widget_core_user_login #login_form .form-group {
  margin: 0;
}
.widget_core_user_login #login_form label {
  text-align: left;
  width: 160px;
  padding-left: 0;
}
.widget_core_user_login #login_form .controls {
  padding: 0;
  width: 100%;
}
.widget_core_user_login #login_form .form_text_input.form-control {
  width: 100%;
}
.widget_core_user_login .submit {
  font-size: 12px;
}
.widget_core_user_login .field_login_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.widget_core_user_login .field_login_btn .panel .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.widget_core_user_login .field_login_btn .panel .panel-body #submit_login_form {
  margin-right: 10px;
}
.widget_core_user_login .register_link {
  display: block;
  padding-top: 10px;
}
.widget_core_user_register #register_form .form-group {
  margin: 0;
}
.widget_core_user_register #register_form label {
  text-align: left;
  width: 160px;
  padding-left: 0;
}
.widget_core_user_register #register_form .controls {
  padding: 0;
  width: 100%;
}
.widget_core_user_register #register_form .form_text_input.form-control {
  width: 100%;
}
.widget_core_user_register .submit {
  font-size: 12px;
}
.widget_core_user_register .field_register_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.widget_core_user_register .field_register_btn .panel .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.widget_core_user_register .field_register_btn .panel .panel-body #submit_login_form {
  margin-right: 10px;
}
ul.profile_tabs {
  margin: 0 2ex 2ex;
  position: relative;
  top: 1px;
}
.profile_avatar {
  float: right;
  padding: 10px;
  margin-left: 10px;
}
.form-horizontal .controls textarea.form-control {
  width: 100%;
}
input.search_field {
  margin-bottom: 0;
  display: inline-block;
}
form.search .search_options {
  width: 100%;
}
form.search .search_options .search_option input {
  margin-right: 5px;
}
form.search .search_options .search_option label {
  margin-bottom: 0;
  margin-top: 5px;
}
div.compact_search_form input.search_field {
  width: 100%;
  margin: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 12px 6px 0;
}
div.compact_search_form .search_submit {
  border-radius: 0;
}
div.compact_search_form .search_submit:hover {
  z-index: 0;
}
div.extended_search_form {
  text-align: center;
  margin: 0 auto 2em auto;
  max-width: 530px;
}
div.extended_search_form .search_options {
  text-align: center;
}
div.extended_search_form .search_options .search_option {
  display: inline-block;
  margin-right: 10px;
}
table.catselect input#new_category_name {
  width: 98% !important;
}
label.control-label[for=post_title] {
  width: auto;
}
textarea.message_text {
  width: 95%;
}
.evo_comment_title a,
.pull-right .evo_comment_type {
  color: #337ab7;
}
.evo_post,
.evo_intro_post,
.evo_featured_post {
  margin-bottom: 8em;
}
.evo_post .small.text-muted,
.evo_intro_post .small.text-muted,
.evo_featured_post .small.text-muted {
  margin: 4px 0 10px;
  letter-spacing: 1px;
}
.evo_post .small.text-muted a,
.evo_intro_post .small.text-muted a,
.evo_featured_post .small.text-muted a,
.evo_post .small.text-muted a .glyphicon,
.evo_intro_post .small.text-muted a .glyphicon,
.evo_featured_post .small.text-muted a .glyphicon {
  color: inherit;
}
.evo_post header .evo_post__categories .categories-icon,
.evo_intro_post header .evo_post__categories .categories-icon,
.evo_featured_post header .evo_post__categories .categories-icon {
  font-size: 24px;
  -moz-osx-font-smoothing: grayscale;
  padding: 12px;
  border-radius: 50%;
  display: block;
  width: 51px;
  float: left;
  margin-right: 10px;
}
.evo_post header .evo_post__categories a,
.evo_intro_post header .evo_post__categories a,
.evo_featured_post header .evo_post__categories a {
  margin: 7px 10px 0px 0px;
  line-height: 24px;
  padding: 6px 12px;
  border-radius: 20px;
  display: inline-block;
  font-size: 13px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.evo_post header .evo_post__categories a:hover,
.evo_intro_post header .evo_post__categories a:hover,
.evo_featured_post header .evo_post__categories a:hover {
  text-decoration: none;
}
.evo_post header .evo_post__info,
.evo_intro_post header .evo_post__info,
.evo_featured_post header .evo_post__info {
  font-size: 13px;
  letter-spacing: 1px;
  padding-bottom: 25px;
}
.evo_post header .evo_post__info div,
.evo_intro_post header .evo_post__info div,
.evo_featured_post header .evo_post__info div,
.evo_post header .evo_post__info > span,
.evo_intro_post header .evo_post__info > span,
.evo_featured_post header .evo_post__info > span {
  display: inline-block;
  margin-right: 25px;
}
.evo_post header .evo_post__info i,
.evo_intro_post header .evo_post__info i,
.evo_featured_post header .evo_post__info i {
  font-size: 18px;
  margin-right: 5px;
}
.evo_post header .evo_post__info .evo_post__author a,
.evo_intro_post header .evo_post__info .evo_post__author a,
.evo_featured_post header .evo_post__info .evo_post__author a {
  font-weight: 400;
}
.evo_post .evo_post__full,
.evo_intro_post .evo_post__full,
.evo_featured_post .evo_post__full {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 1.6em;
}
.evo_post .evo_post__full .evo_image_block,
.evo_intro_post .evo_post__full .evo_image_block,
.evo_featured_post .evo_post__full .evo_image_block {
  margin: 0 0 60px 0;
}
.evo_post .evo_post__full .evo_image_block img,
.evo_intro_post .evo_post__full .evo_image_block img,
.evo_featured_post .evo_post__full .evo_image_block img {
  border-radius: 0;
}
.evo_post .evo_post__full .evo_post_gallery,
.evo_intro_post .evo_post__full .evo_post_gallery,
.evo_featured_post .evo_post__full .evo_post_gallery {
  margin-top: -45px;
  margin-bottom: 44px;
}
.evo_post .evo_post__full .evo_post_gallery img,
.evo_intro_post .evo_post__full .evo_post_gallery img,
.evo_featured_post .evo_post__full .evo_post_gallery img {
  border-radius: 0;
}
.evo_post .evo_post__full .evo_post__full_text .evo_post_more_link,
.evo_intro_post .evo_post__full .evo_post__full_text .evo_post_more_link,
.evo_featured_post .evo_post__full .evo_post__full_text .evo_post_more_link {
  margin: 35px 0;
}
.evo_post .evo_post__full .evo_post__full_text .evo_post_more_link a,
.evo_intro_post .evo_post__full .evo_post__full_text .evo_post_more_link a,
.evo_featured_post .evo_post__full .evo_post__full_text .evo_post_more_link a {
  font-size: 15px;
  padding: 15px 35px;
  border-radius: 50px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.evo_post .evo_post__full .evo_post__full_text .evo_post_more_link a:after,
.evo_intro_post .evo_post__full .evo_post__full_text .evo_post_more_link a:after,
.evo_featured_post .evo_post__full .evo_post__full_text .evo_post_more_link a:after {
  font-family: 'FontAwesome';
  content: '\f101';
  padding-left: 8px;
}
.evo_post .evo_post__full .evo_post__full_text .evo_post_more_link a:hover,
.evo_intro_post .evo_post__full .evo_post__full_text .evo_post_more_link a:hover,
.evo_featured_post .evo_post__full .evo_post__full_text .evo_post_more_link a:hover {
  text-decoration: none;
}
.evo_post footer .evo_post__tags,
.evo_intro_post footer .evo_post__tags,
.evo_featured_post footer .evo_post__tags {
  font-size: 15px;
  letter-spacing: 0.6px;
  line-height: 1.6em;
}
.evo_featured_post {
  padding-left: 15px;
}
.evo_post_title {
  display: table;
}
.evo_post_title h2 {
  font-weight: 700;
  display: table-cell;
  margin: 0;
  padding: 25px 0;
  font-size: 46px;
}
.evo_post_title .btn-group {
  display: table-cell;
  padding: 20px 0 10px 30px;
  vertical-align: middle;
}
.disp_posts .special_posts_simple_layout__title h2,
.disp_front .special_posts_simple_layout__title h2 {
  font-size: 24px;
  padding: 10px 0;
}
.disp_posts .evo_post header .special_posts_simple_layout__info,
.disp_front .evo_post header .special_posts_simple_layout__info {
  padding-bottom: 10px;
}
.evo_cover_image {
  text-align: center;
  display: table;
  vertical-align: middle;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 580px;
}
.evo_cover_image .evo_content_block {
  vertical-align: middle;
  display: table-cell;
  width: 100%;
  text-align: center;
}
.evo_cover_image .evo_content_block .evo_intro_post {
  margin-bottom: 0;
}
.evo_cover_image .evo_content_block .evo_intro_post .evo_post_title,
.evo_cover_image .evo_content_block .evo_intro_post .evo_post_title h2,
.evo_cover_image .evo_content_block .evo_intro_post .evo_post_title .btn-group {
  display: block;
}
.evo_cover_image .evo_content_block .evo_intro_post .btn-group a {
  float: none;
}
div.bSideItem {
  background: #F7F5FA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 #FFFFFF;
}
div.bSideItem h4 {
  margin-top: 0;
}
.skin-form .panel-body .panel {
  border: none;
  box-shadow: none;
}
.skin-form .panel-body .panel-body {
  padding: 0;
}
.skin-form .fieldset {
  margin: 0;
}
.skin-form .fieldset div.input {
  margin: 0;
}
.skin-form .control-buttons,
.skin-form div.input {
  padding: 0;
  width: 100%;
  text-align: center;
}
.evo_panel__login,
.evo_panel__lostpass,
.evo_panel__register,
.evo_panel__activation {
  min-width: 290px;
  margin: 1.5em auto auto;
}
.evo_panel__login .panel,
.evo_panel__lostpass .panel,
.evo_panel__register .panel,
.evo_panel__activation .panel {
  margin: 5px 0;
}
.evo_panel__login .panel-body,
.evo_panel__lostpass .panel-body,
.evo_panel__register .panel-body,
.evo_panel__activation .panel-body {
  padding-top: 20px;
  padding-bottom: 0;
}
.evo_panel__login {
  max-width: 400px;
}
.evo_panel__lostpass {
  max-width: 480px;
}
.evo_panel__lostpass #ffield_x label {
  display: none;
}
.evo_panel__activation {
  max-width: 530px;
}
.evo_panel__activation #activateinfo_form .control-buttons {
  text-align: left;
}
.evo_panel__register {
  max-width: 580px;
}
.evo_panel__register .control-buttons {
  text-align: left;
}
.evo_panel__register.register-disabled {
  width: 350px;
}
.evo_panel__register .form-control#country,
.evo_panel__register .form-control#u {
  width: 100%;
}
.evo_form__login_links {
  padding: 0 5px;
  font-size: 92%;
}
.evo_form__login fieldset {
  margin-bottom: 20px;
}
.evo_form__login .controls {
  padding: 0;
  margin: 0;
  width: 100%;
}
.evo_form__login .control-buttons {
  margin-left: 0;
}
.evo_form__login input.form-control[type=text],
.evo_form__login input.form-control[type=password] {
  width: 100%;
}
.evo_form__login .btn {
  margin-top: 5px;
}
#login_form .control-buttons {
  text-align: left;
}
.standard_login_link {
  text-align: center;
  margin: 3em 0 1ex 0;
}
.form_footer_notes {
  margin-top: 0;
}
.pagination {
  margin: 0 0 4em 0;
}
.pagination li span,
.pagination li a {
  border-radius: 4px;
  font-size: 13px;
  padding: 10px 16px;
  margin-right: 5px;
  margin-bottom: 5px;
}
div.action_messages,
div.log_container {
  margin: 0;
}
footer.row {
  margin-top: 20px;
}
.evo_widget h3,
.evo_widget h4.panel-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 5px;
  font-weight: bold;
  margin: 80px 0 30px;
}
.widget_core_coll_post_list ul,
.widget_core_coll_comment_list ul,
.widget_core_coll_item_list ul,
.widget_core_coll_xml_feeds ul {
  margin: 0;
}
.widget_core_coll_post_list ul li,
.widget_core_coll_comment_list ul li,
.widget_core_coll_item_list ul li,
.widget_core_coll_xml_feeds ul li {
  padding: 12px 0;
  list-style-type: none;
}
.widget_core_coll_post_list ul li a,
.widget_core_coll_comment_list ul li a,
.widget_core_coll_item_list ul li a,
.widget_core_coll_xml_feeds ul li a {
  font-size: 17px;
  letter-spacing: 0.3px;
  font-weight: 400;
}
.widget_core_coll_post_list ul li a:hover,
.widget_core_coll_comment_list ul li a:hover,
.widget_core_coll_item_list ul li a:hover,
.widget_core_coll_xml_feeds ul li a:hover {
  background-color: transparent !important;
}
.widget_core_coll_post_list ul li a span,
.widget_core_coll_comment_list ul li a span,
.widget_core_coll_item_list ul li a span,
.widget_core_coll_xml_feeds ul li a span {
  font-weight: 400 !important;
}
main .widget_core_coll_post_list ul li a,
main .widget_core_coll_item_list ul li a {
  display: block;
}
main .widget_core_coll_post_list ul li a:after,
main .widget_core_coll_item_list ul li a:after {
  position: absolute;
  content: "\f101";
  right: 15px;
  vertical-align: middle;
  display: inline-block;
  font-family: FontAwesome;
}
main .widget_core_coll_comment_list ul li a:last-child:after {
  position: absolute;
  content: "\f101";
  right: 15px;
  vertical-align: middle;
  display: inline-block;
  font-family: FontAwesome;
}
.widget_core_coll_xml_feeds div.notes {
  padding: 12px 0;
  display: block;
}
.widget_core_coll_category_list ul li a {
  padding: 12px;
  line-height: 50px;
  border-radius: 20px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.widget_core_coll_category_list ul li a:hover {
  text-decoration: none;
}
div.widget_core_coll_avatar {
  text-align: left;
}
div.widget_core_coll_avatar img {
  border-radius: 50%;
}
.widget_plugin_evo_Calr .bCalendarTable caption {
  font-size: 14px;
}
.widget_plugin_evo_Calr .bCalendarTable .bCalendarRow th {
  text-align: center;
  padding: 8px 0;
}
.widget_plugin_evo_Calr .bCalendarTable .bCalendarRow #bCalendarToday {
  border-radius: 0 !important;
}
.widget_plugin_evo_Calr .bCalendarTable td {
  font-size: 12px;
  padding: 8px 0;
}
.widget_core_org_members .evo_org_member {
  margin-top: 15px;
}
.widget_core_org_members .evo_org_member h3 {
  margin: 25px 0 20px;
}
.widget_core_org_members .evo_org_member p.user_field {
  height: auto !important;
}
.widget_core_org_members .evo_org_member img.img-responsive {
  border-radius: 0 !important;
}
.evo_container__sidebar,
.evo_container__sidebar2 {
  padding: 0 20px;
}
.evo_container__sidebar .widget_core_coll_post_list ul li a,
.evo_container__sidebar2 .widget_core_coll_post_list ul li a,
.evo_container__sidebar .widget_core_coll_comment_list ul li a,
.evo_container__sidebar2 .widget_core_coll_comment_list ul li a,
.evo_container__sidebar .widget_core_coll_item_list ul li a,
.evo_container__sidebar2 .widget_core_coll_item_list ul li a,
.evo_container__sidebar .widget_core_coll_xml_feeds ul li a,
.evo_container__sidebar2 .widget_core_coll_xml_feeds ul li a {
  font-size: 14px;
}
.evo_container__sidebar .widget_core_coll_xml_feeds div.notes a,
.evo_container__sidebar2 .widget_core_coll_xml_feeds div.notes a {
  font-size: 14px;
}
.evo_container__sidebar .widget_plugin_evo_Calr table,
.evo_container__sidebar2 .widget_plugin_evo_Calr table {
  width: 100%;
}
p.tag_cloud a {
  font-size: 14px !important;
  margin: 0 1px 6px 0;
  display: inline-block;
  line-height: 1;
  border-radius: 30px;
  padding: 8px 15px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
p.tag_cloud a:hover {
  text-decoration: none;
}
@media (max-width: 992px) {
  .evo_container__sidebar .widget_plugin_evo_Calr table,
  .evo_container__sidebar2 .widget_plugin_evo_Calr table {
    width: 320px;
    margin: 0 auto;
  }
}
