// ****************************************************************************
// General Styles
// ****************************************************************************

// Site Font family
body {
	font-family: 'Droid Serif', serif;
}

// Content specific styles on all pages
.main-page-content {
	letter-spacing: 0.4px;
	line-height: 1.6em;
	margin: 70px auto 30px;
}

// Content specfic styles on disp=front
.disp_front .main-page-content, .evo_post_comment_notification, .evo_post_feedback_feed_msg {
	font-size: 16px;
}

.alert .close {
	top: 2px;
}

.transition-0.1s {
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}

// Fixed 
#evo_toolbar {
	-webkit-backface-visibility:hidden;
	-webkit-transform: translateZ(0);
}

// Removing default outline
textarea.form-control:focus,
#login_form input:focus:invalid:focus,
#login_form select:focus:invalid:focus,
#login_form textarea:focus:invalid:focus,
div.control input:focus  {
	outline: 0;
	box-shadow: none;
}

// Removing default :focus layout
.btn.active.focus,
.btn.active:focus,
.btn.focus, .btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}



// ****************************************************************************
// Header + menu styles
// ****************************************************************************

// Header
.sitewide_header {
	margin-bottom: 0px !important; // Removes extra space below the sitewide_header
	box-shadow: none !important; // Removes box-shadow below sitewide_header
}
.evo_container__header {
	margin-bottom: 20px;
}
// Site menu
.navbar {
	min-height: 55px;
	margin-bottom: 0px;
	border-top: none !important;
	.navbar-collapse {
		padding: 0;
	}
}
.navbar-nav.evo_container__menu {
	width: 100%;
	li {
		margin-top: 17px;
		list-style-type: none;
		a {
			margin: 0 15px;
			padding: 20px 0;
			text-transform: uppercase;
			font-weight: 900;
			letter-spacing: -0.15px;
			font-size: 14px;
		}
		&.active a.selected {
			text-decoration: underline;
		}
	}
}

.navbar-nav.evo_container__menu, .navbar-header {
	.navbar-toggle-hamb {
		padding: 21px 16px;
		margin: 0;
		border-top: 0; border-right: 0; border-bottom: 0;
		border-radius: 0;
	}
	// User links in menu
	.ufld_icon_links {
		height: 54px;
		float: right;
		a {
			height: 54px;
			width: 54px;
			border-radius: 0;
			margin: 0;
			
			span {
				font-size: 18px;
				line-height: 54px;
				
				.transition-0.1s;
				-webkit-transition-property: transform;
				transition-property: transform;
				-webkit-transition-timing-function: ease-in-out;
				transition-timing-function: ease-in-out;
			}
			
			&.ufld_twitter:hover {
				background-color: #00aced !important;
				color: #fff;
			}
			&.ufld_facebook:hover {
				background-color: #3b5998 !important;
				color: #fff;
			}
			&.ufld_googleplus:hover {
				background-color: #dd4b39 !important;
				color: #fff;
			}
			&.ufld_linkedin:hover {
				background-color: #007bb6 !important;
				color: #fff;
			}
			&.ufld_github:hover {
				background-color: #333333 !important;
				color: #fff;
			}
		}
	}
}
	
// Header search section toggler
.header-search-toggle {
	float: right;
	padding: 0;
	margin: 0;
	i {
		padding: 20px;

		.transition-0.1s;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-timing-function: ease-in-out;
		transition-timing-function: ease-in-out;

		&:hover {
			cursor: pointer;
			-webkit-transform: scale(1.4);
			transform: scale(1.4);
		}
	}
}

// Header social button toggler
.header-social-toggle {
	padding: 0;
	margin: 0;
}

// Top Search Field Layout
.header-main-search-field {
	display: none;
	position: absolute;
	width: 100%;
	z-index: 1;
	
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
	box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, 0.10);
	
	.search_field {
		height: 100%;
		font-size: 46px;
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
		
		&::-webkit-input-placeholder { color:#eee; }
		&::-moz-placeholder { color:#eee; } /* firefox 19+ */
		&:-ms-input-placeholder { color:#eee; } /* ie */
		input:-moz-placeholder { color:#eee; }
		
	}
}

// Front page extra section - default styles
.front-page-extra-section {
	font-size: 26px;
	line-height: 1.6em;
	text-align: center;
	margin: 25px auto 70px;
	
	.extra-section-btn-wrapper {
		margin-top: 50px;
		
		a {
			border-radius: 3px;
			border-width: 2px;
			border-style: solid;
			font-size: 18px;
			letter-spacing: 1px;
			padding: 12px 25px;
			
				.transition-0.1s;
				-webkit-transition-timing-function: ease-in-out;
				transition-timing-function: ease-in-out;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
}

// ****************************************************************************



// Login widget form
.widget_core_user_login {
	#login_form {
		.form-group {
			margin: 0;
		}
		label {
			text-align: left;
			width: 160px;
			padding-left: 0;
		}
		.controls {
			padding: 0;
			width: 100%;
		}
		.form_text_input.form-control {
			width: 100%;
		}
	}
	.submit {
		font-size: 12px;
	}
	.field_login_btn {
		.panel {
			.panel-default-remove;
			.panel-body {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
				#submit_login_form {
					margin-right: 10px;
				}
			}
		}
	}
	.register_link {
		display: block;
		padding-top: 10px;
	}
}

// Register widget form
.widget_core_user_register {
	#register_form {
		.form-group {
			margin: 0;
		}
		label {
			text-align: left;
			width: 160px;
			padding-left: 0;
		}
		.controls {
			padding: 0;
			width: 100%;
		}
		.form_text_input.form-control {
			width: 100%;
		}
	}
	.submit {
		font-size: 12px;
	}
	.field_register_btn {
		.panel {
			margin: 0;
			border: none;
			border-radius: 0;
			box-shadow: none;
			.panel-body {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
				#submit_login_form {
					margin-right: 10px;
				}
			}
		}
	}
}

// Profile tabs on ?disp=profile
ul.profile_tabs {
	margin: 0 2ex 2ex;
	position: relative;
	top: 1px;
}

.profile_avatar {
	float: right;
	padding: 10px;
	margin-left: 10px;
}

// Use full width for all textarea
.form-horizontal .controls textarea.form-control {
	width: 100%;
}

// A search button
input.search_field {
	margin-bottom: 0;
	display: inline-block;
}
form.search .search_options {
	width: 100%;
	.search_option input {
		margin-right: 5px;
	}
	.search_option label {
		margin-bottom: 0;
		margin-top: 5px;
	}
}
div.compact_search_form {
	input.search_field {
		width: 100%;
		margin: 0;
		border-top: none;
		border-left: none;
		border-right: none;
		box-shadow: none;
		border-radius: 0;
		padding: 6px 12px 6px 0;
	}
	.search_submit {
		border-radius: 0;
		&:hover {
			z-index: 0;
		}
	}
}
div.extended_search_form {
	text-align: center;
	margin: 0 auto 2em auto;
	max-width: 530px;
	.search_options {
		text-align: center;
		.search_option {
			display: inline-block;
			margin-right: 10px;
		}
	}
}

// Table for select categories of item
table.catselect {
	input#new_category_name {
		width: 98% !important;
	}
}

// Form elements on item edit page
label.control-label[for=post_title] {
	width: auto;
}

// A form to create a new message/thread
textarea.message_text {
	width: 95%;
}



// ****************************************************************************
// Post styles
// ****************************************************************************

// Post layout
.evo_post, .evo_intro_post, .evo_featured_post {
	margin-bottom: 8em;
	.small.text-muted {
		margin: 4px 0 10px;
		letter-spacing: 1px;
		a, a .glyphicon {
			color: inherit;
		}
	}
	
	// Posts header section
	header {
		.evo_post__categories {
			.categories-icon { // Categories icon
				font-size: 24px;
				-moz-osx-font-smoothing: grayscale;
				padding: 12px;
				border-radius: 50%;
				display: block;
				width: 51px;
				float: left;
				margin-right: 10px;
			}
			a {
				margin: 7px 10px 0px 0px;
				line-height: 24px;
				padding: 6px 12px;
				border-radius: 20px;
				display: inline-block;
				font-size: 13px;

				-webkit-transform: translateZ(0);
				transform: translateZ(0);
				box-shadow: 0 0 1px rgba(0, 0, 0, 0);
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				overflow: hidden;
				.transition-0.1s;
				&:hover {
					text-decoration: none;
				}
			}
		}
		
		.evo_post__info { // Post info - below title section
			font-size: 13px;
			div, > span {
				display: inline-block;
			}
			.evo_post__post_date, .evo_post__author, .evo_post__comments {
				margin-right: 25px;
			}
			letter-spacing: 1px;
			padding-bottom: 25px;
			i {
				font-size: 18px;
				margin-right: 5px;
			}
			.evo_post__author a {
				font-weight: 400;
			}
		}
	}
	
	// Post content layout
	.evo_post__full {
		font-size: 16px;
		letter-spacing: 0.6px;
		line-height: 1.6em;
		
		.evo_image_block { // Images inside the post
			margin: 0 0 25px 0;
			img {
				border-radius: 0;
			}
		}
		
		.evo_post_gallery {
			margin-top: -10px; // Remove white gap between the gallery and teaser image on disp=posts
			margin-bottom: 10px;
			img {
				border-radius: 0;
			}
		}
		
		.evo_post__full_text {
			.evo_post_more_link {
				margin: 35px 0;
				a {
					font-size: 15px;
					padding: 15px 35px;
					border-radius: 50px;
					.transition-0.1s;
					&:after {
						font-family: 'FontAwesome';
						content: '\f101';
						padding-left: 8px;
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	
	// Post footer
	footer {
		.evo_post__tags {
			font-size: 15px;
			letter-spacing: 0.6px;
			line-height: 1.6em;
		}
	}
}
.evo_featured_post {
	padding-left: 15px;
}

// Positions on the action buttons near page titles
.evo_post_title {
	display: table;
	h2 {
		font-weight: 700;
		display: table-cell;
		margin: 0;
		padding: 25px 0;
		font-size: 46px;
	}
	.btn-group {
		display: table-cell;
		padding: 20px 0 10px 30px;
		vertical-align: middle;
	}
}
.disp_single .evo_post_title h1 {
	font-weight: 700;
	display: table-cell;
	margin: 0;
	padding: 25px 0;
	font-size: 46px;
}

// Special Posts Simple Layout
.disp_posts, .disp_front {
	.special_posts_simple_layout__title {
		h2 {
			font-size: 24px;
			padding: 10px 0;
		}
	}
	.evo_post header .special_posts_simple_layout__info {
		padding-bottom: 10px;
	}
}

// Special Intro post Cover image style
.evo_cover_image {
    text-align: center;
    display: table;
    vertical-align: middle;
    width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 580px;
	.evo_content_block {
		vertical-align: middle;
		display: table-cell;
		width: 100%;
		text-align: center;
		.evo_intro_post {
			margin-bottom: 0;
			.evo_post_title, .evo_post_title h2, .evo_post_title .btn-group {
				display: block;
			}
			.btn-group {
				padding-left: 0;
				a {
					float: none;
				}
			}
		}
	}
}

// Masonry Posts layout
.disp_posts .grid-item {
	&.two-cols, &.three-cols {
		padding: 0 15px;
		article {
			margin-bottom: 15px;
			.evo_post_masonry h2 a {
				font-size: 20px;
				font-weight: 700;
			}
			.evo_post__info {
				padding-bottom: 15px;
			}
			.evo_image_block {
				margin-bottom: 15px;
			}
			.evo_post__full_text {
				font-size: 15px;
				letter-spacing: 0.2px;
			}
		}
	}
}

// Special Cover Image position disp=single
.disp_single .spec_cover_image__header {
	padding: 15% 15px 0;
	display: table-cell;
	vertical-align: middle;
	.evo_post_title, .evo_post__categories, .evo_post__info {
		display: block;
		text-align: left;
		max-width: 700px;
		margin: 0 auto;
	}
}

// Disp single navigation
.pager.special_pager_layout {
	margin: 0 0 30px;
	li a {
		border-radius: 0;
		padding: 12px 14px;
		.transition-0.1s;
	}
}



// ****************************************************************************
// Comments Layout
// ****************************************************************************

.comments-wrapper, #feedbacks .alert.alert-info {
	margin-top: 80px;
}

.evo_comment {
	margin-left: 59px;
	.evo_comment_title {
		padding: 15px 15px 0px;
		a:hover {
			background-color: transparent;
		}
	}
	&.evo_comment__meta {
		.panel-heading {
			border-bottom: none;
			background-color: transparent;
			.evo_comment_title {
				padding-top: 0;
			}
		}
		.panel-body {
			padding-top: 0;
		}
	}
}
.evo_post_comment_notification p {
	text-align: left;
	a, a:hover, a:focus {
		border: none;
		background: transparent;
		font-size: 16px;
	}
	a:hover {
		text-decoration: underline;
	}
}
.evo_post_feedback_feed_msg {
	margin-bottom: 80px;
	p {
		text-align: left;
	}
}
.evo_content_block  .evo_comment_avatar img {
	margin: 0;
}
.ratings_table {
	display: block;
}

.comment-form {
	.form-group { // Input areas
		float: left;
		width: 50%;
		&#ffield_g, &#ffield_uploadfile_A1 { // Textarea
			width: 100%;
		}
		&:last-of-type { // Submit and preview buttons wrapper
			width: 100%;
		}
	}

	label {
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.6px;
	}

	.form-control {
		padding: 20px 15px;
		border-radius: 2px;
		box-shadow: none;
	}

	#submit_preview_buttons_wrapper { // Submit and preview buttons background-color on hover remove
		clear: both;
		.preview {
			background-color: transparent;
			margin-right: 10px;
		}
		.submit:hover {
			background-color: transparent !important;
		}
		input.btn {
			-webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			padding: 12px 15px;
		}
		
		.panel-body.fieldset {
			padding: 0;
		}
		
		// "Add a meta comment" title
		.panel-heading {
			padding: 15px 0;
			font-size: 18px;
			font-weight: bold;
		}
		
		// Add a meta comment link
		.action_icon {
			font-size: 16px;
			font-weight: 400;
		}
	}
}
// "Leave a comment" title
.comment-form--title {
	margin-top: 80px;    
	border-top: 3px solid #eee;
    padding-top: 25px;
}
.evo_post_comment_notification {
	margin-top: 25px;
}

// ****************************************************************************





div.bSideItem {
	background: #F7F5FA;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	text-shadow: 0 1px 0 #FFFFFF;
	h4 {
		margin-top: 0;
	}
}

// Login/Register forms:
.skin-form {
	.panel-body {
		.panel {
			border: none;
			box-shadow: none;
		}
		.panel-body {
			padding: 0;
		}
	}
	.fieldset {
		margin: 0;
		div.input {
			margin: 0;
		}
	}
	.control-buttons, div.input {
		padding: 0;
		width: 100%;
	}
}



// ****************************************************************************
// Disp login, Disp lostpass, Disp register
// ****************************************************************************

.panel-default-remove {
	padding: 0;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	background: transparent;
}

.evo_panel__login, .evo_panel__lostpass, .evo_panel__register {
	.skin-form {
		.panel-default-remove;
		
		.panel-heading {
			.panel-default-remove;
			h3 {
				font-size: 32px;
				margin-bottom: 30px;
			}
		}
		
		.panel-body {
			.panel-default-remove;
			
			.evo_form__login.form-horizontal, .evo_form__register {
				.comment-form {
					.form-group {
						float: none;
						display: block;
						min-width: 290px;
						max-width: 400px;
						
						div.control input {
							padding: 20px 15px;
							border-radius: 2px;
							box-shadow: none;
						}
					}
					.control-buttons {
						input.btn-success, a.btn-primary {
							display: block;
							float: left !important;
							margin: 0 10px 0 0;
							
							-webkit-transition: all 0.3s ease-in-out;
							transition: all 0.3s ease-in-out;
							padding: 12px 15px;
							font-size: 16px;
						}
						input.btn-primary {
							padding: 12px 15px;
							font-size: 16px;
							-webkit-transition: all 0.3s ease-in-out;
							transition: all 0.3s ease-in-out;
						}
					}
				}
			}
		}
	}
	.evo_login_dialog_standard_link, .evo_login_dialog_footer {
		text-align: left;
		margin-left: 0; margin-right: 0;
	}
}
.evo_form__login {
	fieldset {
		margin-bottom: 20px;
	}
	.controls {
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.control-buttons {
		margin-left: 0;
	}
	input.form-control[type=text], input.form-control[type=password] {
		width: 100%;
	}
	.btn {
		margin-top: 5px;
	}
}
.evo_form__login_links {
	padding: 0 5px;
	font-size: 92%;
}
.evo_panel__lostpass {
	.control-buttons {
		margin-bottom: 20px;
	}
	#ffield_x label {
		display: none;
	}
	div.fieldset {
		font-size: 16px;
	}
}
.evo_panel__register {
	.control-buttons{
		text-align: left;
	}
	&.register-disabled {
		width: 350px;
	}
	.form-control {
		&#country, &#u {
			width: 100%;
		}
	}
	.evo_form__register .form-group {
		float: none;
		width: 100%;
		
		div.controls input.wide_input {
			max-width: 400px;
		}
	}
}



.evo_panel__activation {
	margin: 1.5em auto auto;
	.panel {
		margin: 5px 0;
	}
	.panel-body {
		padding-top: 20px;
		padding-bottom: 0;
	}
}

.evo_panel__activation {
	#activateinfo_form .control-buttons{
		text-align: left;
	}
}
.standard_login_link {
	text-align: center;
	margin: 3em 0 1ex 0;
}
.form_footer_notes {
	margin-top: 0;
}

// *****************************************************************************



// Pagination
.pagination {
	margin: 0 0 4em 0;
	li span, li a {
			border-radius: 4px;
			font-size: 13px;
			padding: 10px 16px;
			margin-right: 5px;
			margin-bottom: 5px;
	}
}

// Messages
div.action_messages, div.log_container {
	margin: 0;
}

// This skin needs this for disp=posts to separate from lower pagination
footer.row {
	margin-top: 20px;
}

.evo_container__footer {
	.widget_plugin_evo_Calr table.bCalendarTable {
		min-width: 290px;
	}
	.evo_widget {
		margin-bottom: 30px;
	}
}



// ****************************************************************************
// Back to Top - Slide top button
// ****************************************************************************

.back-to-top {
	visibility: hidden;
	opacity: 0;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 9998;
	font-size: 2rem;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	border-radius: 2px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	&:hover {
		margin-bottom: 3px;
	}
}
.back-to-top.visible {
	visibility: visible;
	opacity: 1;
}



// ****************************************************************************
// Widgets
// ****************************************************************************

.evo_widget {
	h3, h4.panel-title {
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-align: center;
		padding-bottom: 5px;
		font-weight: bold;
		margin: 80px 0 30px;
	}
}

// List widgets format
.widget_core_coll_post_list, // Recent posts
.widget_core_coll_comment_list, // Recent comments
.widget_core_coll_item_list, // Items list
.widget_core_coll_xml_feeds, // XML Feeds
.widget_plugin_evo_Arch { // Archives widget
	ul {
		margin: 0;
		li {
			padding: 12px 0;
			list-style-type: none;
			a {
				font-size: 17px;
				letter-spacing: 0.3px;
				font-weight: 400;
				&:hover {
					background-color: transparent !important;
				}
				span {
					font-weight: 400 !important;
				}
			}
		}
	}
}

// Leading arrows on widgets ONLY ON MAIN SECTION
main {
	.widget_core_coll_post_list, // Recent posts
	.widget_core_coll_item_list { // Items list
		ul li a {
			display: block;
			&:after {
				position: absolute;
				content: "\f101";
				right: 15px;
				vertical-align: middle;
				display: inline-block;
				font-family: FontAwesome;
			}
		}
	}

	// Recent comments widget leading arrows
	.widget_core_coll_comment_list { 
		ul li a:last-child {
			&:after {
				position: absolute;
				content: "\f101";
				right: 15px;
				vertical-align: middle;
				display: inline-block;
				font-family: FontAwesome;
			}
		}
	}
	
	// Archives widget
	.widget_plugin_evo_Arch {
		ul li span.dimmed {
			position: absolute;
			right: 25px;
			vertical-align: middle;
			display: inline-block;
			font-size: 16px;
			&:before {
				content: '\f187';
				padding-right: 4px;
				padding-bottom: 3px;
				vertical-align: middle;
				display: inline-block;
				font-family: FontAwesome;
			}
		}
	}
}

// XML Feeds div.notes
.widget_core_coll_xml_feeds {
	div.notes {
		padding: 12px 0;
		display: block;
	}
}

// Category list widget
.widget_core_coll_category_list ul li a {
	padding: 12px;
	line-height: 50px;
	border-radius: 20px;

	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
	.transition-0.1s;
	&:hover {
		text-decoration: none;
	}
}

// Avatar widget
div.widget_core_coll_avatar {
	text-align: left;
	img {
		border-radius: 50%;
	}
}

// Calendar widget
.widget_plugin_evo_Calr .bCalendarTable {
	caption {
		font-size: 14px;
	}
	.bCalendarRow {
		th {
			text-align: center;
			padding: 8px 0;
		}
		#bCalendarToday {
			border-radius: 0 !important;
		}
	}
	td {
		font-size: 12px;
		padding: 8px 0;
	}
}

// Organization members widget
.widget_core_org_members {
	.evo_org_member {
		margin-top: 15px;
		h3 {
			margin: 25px 0 20px;
		}
		p.user_field {
			height: auto !important;
		}
		img.img-responsive {
			border-radius: 0 !important;
		}
	}
}

// Sidebar widgets
.evo_container__sidebar, .evo_container__sidebar2 {
	padding: 0 20px;
	.widget_core_coll_post_list, 
	.widget_core_coll_comment_list, 
	.widget_core_coll_item_list,
	.widget_core_coll_xml_feeds {
		ul li a {
			font-size: 14px;
		}
	}
	.widget_core_coll_xml_feeds div.notes {
		a {
			font-size: 14px;
		}
	}
	.widget_plugin_evo_Calr {
		table {
			width: 100%;
		}
	}
}

// Tag cloud
p.tag_cloud a {
    font-size: 14px !important;
    margin: 0 1px 6px 0;
    display: inline-block;
    line-height: 1;
    border-radius: 30px;
	padding: 8px 15px;
	
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
	.transition-0.1s;
	&:hover {
		text-decoration: none;
	}
}




// ****************************************************************************
// Disp users module
// ****************************************************************************
@import "less/_users.disp.less";

// ****************************************************************************
// Disp sitemap module
// ****************************************************************************
@import "less/_sitemap.disp.less";

// ****************************************************************************
// Disp arcdir module
// ****************************************************************************
@import "less/_arcdir.disp.less";

// ****************************************************************************
// Disp comments
// ****************************************************************************
.disp_comments .comments-wrapper:first-child {
	margin-top: 30px;
}

// ****************************************************************************
// Disp tags
// ****************************************************************************
.disp_tags main p.tag_cloud {
	margin-top: 30px;
}

// ****************************************************************************
// Disp help
// ****************************************************************************
.disp_help main {
	> h2 {
		margin-bottom: 30px;
	}
	p {
		font-size: 16px;
	}
}

// ****************************************************************************
// Disp mediaidx module
// ****************************************************************************
@import "less/_mediaidx.disp.less";

// ****************************************************************************
// Disp postidx
// ****************************************************************************


// ****************************************************************************
// Disp error 404 & Disp postidx
// ****************************************************************************
.disp_404, .disp_postidx
main {
	h2 {
		margin-bottom: 30px;
	}
	p {
		font-size: 16px;
	}
}

// ****************************************************************************
// Responsive layout module
// ****************************************************************************
@import "less/_responsive.module.less";